.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
}
.main aside {
  width: 30vw;
  border: 1px solid gray;
  height: 80vh;
  overflow: scroll;
}
.main section {
  width: 70vw;
  border: 1px solid gray;
  height: 80vh;
  overflow: scroll;
}
.scheduleTile{
  margin:0.5em;
  padding:0
}
.scheduleTile li {
  list-style-type: none;
  border: 1px solid gray;
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  background: #f3f3f3;
}
.scheduleTile li.selected {
  background: #a7a7a7;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
